---
layout: default
title: natan ou natan?
---

<header>
  <div class="wrap">
    <h1>natan ou natan?</h1>
    <p>
    ╔ :home<br>
    ╚ $ ls posts
    </p>
    <p>Todo: Tudo kkcrying</p>
  </div>
</header>
<main>
  <div class="wrap">
    <h2>fruits only for a while...</h2>
    {% for post in paginator.posts %}
    <div class="post">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="author">
        <span class="date">{{ post.date }}</span>
      </p>
      <div class="content">
        {{ post.content }}
      </div>
    </div>
    {% endfor %}

    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
          Previous
        </a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
  </div>
</main>
