<header class="main-header">
    <div class="container">
        <h1 class="main-title">
            <a href="{{ site.url }}">natan ou natan?</a>
        </h1>
        {% include navigation.html %}
        <div class="me">
            <div class="photo">
                <img src="/assets/images/me.jpg"
                    alt="uma foto minha onde estou usando uma camiseta preta no cais de floriano no estado do piauí olhando para o rio">
            </div>
            <p>Futuro engenheiro de software que curte <em><a href="https://github.com/codecrafters-io/build-your-own-x" target="_blank">Building your own X</a></em>, brincar & experimentar bastante</p>
        </div>
    </div>
</header>