@import "base";
@import "syntax_highlighting";

html {
    border-top: 5px solid #1eabed;
}

body {
    padding: 1rem;
}

.container {
    margin: 1rem auto;
    max-width: 30rem;
}

.main-title {
    font-weight: 300;
}

.main-title>a {
    color: #333;
}

.main-title>a:hover,
.main-title>a:focus {
    text-decoration: none
}

.main-nav>ul>li>a.current {
    text-decoration: underline;
}

.post {
    margin-bottom: .25rem;
    border-bottom: 1px solid #ddd;
}

.post-title {
    margin: 1rem 0 .25rem;
}

.post-title>a {
    color: #333;
}

.content>.post-date{
    margin: 0 0 1rem;
}
.pagination {
    display: flex;
}

.pagination-previous,
.pagination-next {
    width: 15rem;
}

.pagination-previous {
    text-align: left;
}

.pagination-next {
    text-align: right;
}

.about {
    margin: 1rem 0;
    font-size: 1rem;
}

.me>.photo {
    display: inline-block;
}

.me>.photo>img {
    display: inline-block;
    width: 5rem;
    vertical-align: middle;
    border: 3px solid #ddd;
    border-radius: 50%;
}

.me>p{
    display: inline-block;
    margin-left: 1rem;
    width: 20rem;
    vertical-align: middle;
    text-align: justify;
}

.social-icons {
    text-align: center;
}

.social-icons>ul {
    list-style: none;
}

.social-icons>ul>li{
    display: inline-block;
}

.social-icons>ul>li>a>div {
    margin-left: 1rem;
    width: 2rem;
}
